.top1,.top2{
	
	margin-left: 330px;
	margin-top: 50px;
}
#form1 {
	margin-left: 400px;
}
#form1 ul{
	
margin-bottom: 10px;
}
.ont{
	margin-left: 50px;
}
h1{
	text-align: center;
	font-size: 26px;
	margin-top: 30px;
}
.tow{
	margin-left: 20px;
}
.button{
	margin-left: 260px;
}
.footer {
	height: 300px;
}